section {
  padding: 0.8rem;
  margin-top: 1.5rem;
  text-align: center;
}

.box-progress {
  font-size: 2em;
}

.box-progress:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 6.5em;
  white-space: nowrap;
  animation: loading 45s linear;
}
